<header>
    <h1>DIGITAL <span class="material-symbols-outlined">security</span> DEFENSE</h1>
    <nav>
        <a href="/">Overview</a>
        <a href="/scope">Scope</a>
        <a href="/types">Types</a>
        <a href="/defense">Defense</a>
        <a href="/recovery">Recovery</a>
    </nav>
</header>