<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/nav.ejs') %>
<main>
    <div class="container">
        <h2>Building Your Defenses</h2>
    </div>
</main>
<%- include('partials/footer.ejs') %>
</body>
</html>