/*
    Color Palette:
    - blue: #0B00CF
    - purple: #300A6E
    - neon red: #FF2D2B
    - red: #C10A28
*/

.science-gothic-regular {
     font-family: "Science Gothic", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
             "slnt" 0,
             "wdth" 100,
             "CTRS" 0;
}

html {
    background-image: linear-gradient(#ffffff, #5651e5);
    background-size: revert;
    background-repeat: round;
    font-family: "Science Gothic", sans-serif;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

header h1 {
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #300A6E;
    font-weight: 600;
}

header h1 span {
    margin-inline: 8px;
}

header h1 .material-symbols-outlined {
    font-size: 5vw;
    color: #C10A28;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF2D2B;
    padding-block: 8px;
    border-radius: 10px;
}

nav a {
    font-size: 2vw;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-inline: 1vw;
    color: white;
    font-weight: 400;
    padding-block: 5px;
    padding-inline: 10px;
}

nav a:hover {
    background-color: #C10A28;
    color: #ffffff;
    border-radius: 10px;
    font-size: 2.2vw;
    transition: all 0.2s ease-in;
}

nav a.active {
    background-color: #ffffff;
    color: #cf0000;
    border-radius: 10px;
    font-size: 2.2vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 10px;
    background-image: url("../img/container_img.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 15px;
}

#fake_email {
    display: flex;
    flex-direction: column;
    background-color: rgba(203, 236, 252, 0.9);
    border: 1px solid #646188;
    margin-bottom: 5px;
    font-family: sans-serif;
    padding: 5px;
    margin-left: 4vw;
}

#fake_email .email-header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
    border: 1px solid #646188;
    background-color: #e7dcb4;
    margin-inline: 2px;
    margin-block: 0.15vw;

}

#fake_email .email-header h4 {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-left: 10px;
    margin-block: 0;
    font-size: 1vw;
}

#fake_email .email-header h4 span {
    display: flex;
    flex-direction: row;
    background-color: #f5f0ed;
    flex-grow: 1;
    margin-inline: 0.5vw;
    padding-inline: 10px;
    padding-block: 3px;
    border: 1px solid #646188;
    font-weight: 400;
}

#fake_email .email-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #646188;
    background-color: #e7dcb4;
    margin: 2px;
}

#fake_email .email-text {
    background-color: #f5f0ed;
    padding: 10px;
}

#fake_email .email-text h5{
    margin: 0;
    font-size: 1.125vw;
}

#fake_email .email-text p {
    color: #000000;;
    font-size: 1.125vw;
}

.attachment {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    margin-block: 10px;
    background-color: #e7dcb4;
    width: fit-content;
    padding: 5px;
    font-size: 1vw;
    border-radius: 5px;
}

.attachment .material-symbols-outlined{
    font-size: 1.75vw;
}

.attachment #file_name {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.container {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    flex-grow: 1;
    border-radius: 10px;
    margin-block: 5px;
    padding-inline: 2vw;
}

.container h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    font-size: 2.5vw;
}

.container h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    color: #C10A28;
}

.container h3 span {
    margin-right: 10px;
    font-size: 3vw;
}

.container p {
    font-size: 1.5vw;
    color: #300A6E;
    padding-inline: 4vw;
}

.quote-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5vw;
    margin-bottom: 10px;
}

.quote{
    margin-right: 5px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FF2D2B;
    color: white;
    font-size: 1.25vw;
    border-radius: 5px;
}

footer p{
    margin-block: 10px;
}