/*
    Color Palette:
    - blue: #0B00CF
    - purple: #300A6E
    - neon red: #FF2D2B
    - red: #C10A28
*/

.science-gothic-regular {
     font-family: "Science Gothic", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
             "slnt" 0,
             "wdth" 100,
             "CTRS" 0;
}

html {
    background-image: linear-gradient(#ffffff, #5651e5);
    background-size: revert;
    background-repeat: round;
    font-family: "Science Gothic", sans-serif;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 10px;
}

header h1 {
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    margin-inline: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #300A6E;
    font-weight: 600;
}

header h1 span {
    margin-inline: 8px;
}

header h1 .material-symbols-outlined {
    font-size: 5vw;
    color: #C10A28;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF2D2B;
    padding-block: 8px;
    border-radius: 10px;
}

nav a {
    font-size: 2vw;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-inline: 1vw;
    color: white;
    font-weight: 400;
    padding-block: 5px;
    padding-inline: 10px;
}

nav a:hover {
    background-color: #C10A28;
    color: #ffffff;
    border-radius: 10px;
}

nav a .material-symbols-outlined {
    font-size: 2.5vw;
    margin-right: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 10px;
    background-image: url("../img/container_img.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 15px;
}

.container {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    flex-grow: 1;
    border-radius: 10px;
    margin-block: 5px;
    padding-inline: 2vw;
}

.container h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    color: #C10A28;
}

.container h2 span {
    margin-right: 10px;
    font-size: 3vw;
}

.container p {
    font-size: 1.5vw;
    color: #300A6E;
    padding-inline: 4vw;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FF2D2B;
    color: white;
    font-size: 1.25vw;
    border-radius: 5px;
}

footer p{
    margin-block: 10px;
}